@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

body {
  margin: 0;
  font-family: 'Noto Serif', serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toDoInput {
  width: 50%;
  padding: 30px; 
}

.toDoInput form {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.taskInput {
  padding: 10px;
  margin: 11px 10px 0 0;
  border-radius: 3px;
  border: 1px solid lightgrey;
  width: 70%;
  outline: none;
}

.taskInput:focus {
  border-color: #d1a52d;
}

.addButton {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-image: url(../icons/add.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  outline: none;
  cursor: pointer;
  margin-bottom: -10px;
  transition: .5s;
}

.addButton:hover {
  transform: scale(1.05);
}

.listItems {
  width: 50%;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

.item:hover {
  background-color: rgb(99, 182, 99);
  border-radius: 3px;
}

.task {
  flex: 80%;
  display: flex;
  align-items: center;
}

.checkbox {
  display: none;
}

.doneTask {
  opacity: 0.4;
}

.doneTask p {
  text-decoration: line-through;
}

.removeButton {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-image: url(../icons/garbage.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  outline: none;
  cursor: pointer;
}

.removeButton:hover {
  transform: scale(1.05);
}

#status {
  font-size: 1.2rem;
  width: 3rem;
  height: 2rem;
  border-radius: 50%;
  transition: .1s all;
  cursor: pointer;
  margin-left: 10px;
}

#status:hover {
  transform: scale(.95);
}

#status:after {
  content: "🤜";
}

.checkbox:checked + #status {
  transform: scale(1.1);
}

.checkbox:checked + #status:hover {
  transform: scale(1.05);
}

.checkbox:checked + #status:after {
  content: "👍";
}